@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Book'), local('Circular-Std-Book'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @mixin roboto400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  @mixin inter400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  @mixin inter500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  @mixin circular500 {
    font-family: 'Circular Std', sans-serif;
    font-weight: 500;
  }

  @mixin circular900 {
    font-family: 'Circular Std', sans-serif;
    font-weight: 900;
  }