.navbar-wrap
    padding: 34px 0 112px 0
    display: flex
    align-items: center
.navbar-logo
    margin-right: 280px
    +roboto400
    font-weight: 500
    font-size: 36px
    line-height: 42px
    color: $black-logo
.navbar-items
    display: flex
    margin-right: 130px
.navbar-list
    margin-right: 64px
    +inter400
    font-size: 16px
    line-height: 19px
    a
        color: $black-text
.navbar-list:last-child
    margin-right: 0
.navbar-sign
    margin-right: 34px
    +roboto400
    font-size: 18px
    line-height: 21px
    color: $black-text

